<app-headersys></app-headersys>
<app-sys-title title={{title}}></app-sys-title>
<div class="form-sys mb-3">
  <p-table [value]="user" [tableStyle]="{ 'min-width': '50rem' }" tableStyleClass="table-list">
    <ng-template pTemplate="header">
        <tr>
            <th class="tl-th">Código</th>
            <th class="tl-th">Usuário</th>
            <th class="tl-th">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
          <td class="tl-td">{{ user.codigo }}</td>
          <td class="tl-td">{{ user.nome }}</td>
          <td class="tl-td">{{ user.status }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>