<app-headersys></app-headersys>
<app-sys-title title={{title}}></app-sys-title>
<div class="form-sys">
  <div class="grid">
    <div class="col-12">
      <div class="field">
        <label for="nome">Categoria</label><br>
        <input type="text" name="nome" pInputText class="w-full border-round-lg" placeholder="Osso" [(ngModel)]="user.nome"/>
      </div>
    </div>

    <div class="col-12">
      <div class="field">
        <label for="status">Status</label><br>
        <select [(ngModel)]="user.status" name="status" class="w-full border-round-lg">
          <option *ngFor="let option of statusOpt" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>

    <div class="col-12">
      <p-button label="SALVAR" styleClass="text-white w-full bg-send" [loading]="loading" (click)="submitData()"></p-button>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>