<app-headersys></app-headersys>
<app-sys-title title={{title}}></app-sys-title>
<div class="form-sys mb-3">
  <p-table [value]="breedFilter" [tableStyle]="{ 'min-width': '50rem' }" tableStyleClass="table-list">
    <ng-template pTemplate="header">
        <tr>
            <th class="tl-th">Avatar</th>
            <th class="tl-th">Código</th>
            <th class="tl-th">Raça</th>
            <th class="tl-th">Status</th>
            <th class="tl-th">Ação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-breedFilter let-i="rowIndex">
        <tr>
            <td class="breed-xl tl-td"><img src="https://localhost:7038/v1/raca/avatar/{{breedFilter.codigo}}" class="p-avatar ml-3 mr-3" alt=""></td>
            <td class="tl-td">{{ breedFilter.codigo }}</td>
            <td class="tl-td">{{ breedFilter.nome }}</td>
            <td class="tl-td">{{ breedFilter.status }}</td>
            <td class="tl-td">
              <p-button icon="pi pi-pencil" (click)="breedEdit(breedFilter.codigo)" styleClass="text-white bg-orange-400 hover:bg-orange-700 border-orange-400 hover:border-orange-700"></p-button>&nbsp;
              <p-button icon="pi pi-trash" (click)="breedRemove(breedFilter.codigo, i)" styleClass="text-white bg-red-600 hover:bg-red-800 border-red-600 hover:border-red-800"></p-button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="bottom-right"></p-toast>