@import '../../../../../styles.scss';

.title{
  color: $quintenary-color;
  font-family: 'Montserrat', sans-serif;
}

.breed-search{
  padding-top: 30px;
  padding-right: 50px;
}

.breed-alphabetic{
  color: $quintenary-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding-left: 250px;
  padding-right: 250px;
}

.breed-letter{
  color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  padding-left: 140px;
  padding-bottom: 60px;
}

.breed-letter .col-1{
  width: 4.5%;
}

.breed-letter hr{
  margin-top: 60px;
  border-color: $primary-color;
  border: 0;
  border-bottom: 2px solid;
}

.breed-xl{
  font-size: 16px;
}

.breed-xl img {
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  border-radius: 50%;
}