<app-headersys></app-headersys>
<app-sys-title title={{title}}></app-sys-title>
<div class="form-sys">
  <div class="grid">
    <div class="col-12">
      <div class="field">
        <label for="product">Produto</label><br>
        <input type="text" name="product" pInputText class="w-full border-round-lg" placeholder="Osso" [(ngModel)]="product"/>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="category">Categoria</label><br>
        <select [(ngModel)]="category" name="category" class="w-full border-round-lg">
          <ng-container *ngIf="!category">
            <option value="" disabled selected>Selecione uma opção...</option>
          </ng-container>
          <option *ngFor="let option of categoryOpt" [value]="option.codigo">{{ option.nome }}</option>
        </select>
        <p-dropdown [options]="cities" optionValue="codigo" optionLabel="nome"></p-dropdown>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="unit">Unidade</label><br>
        <input type="text" name="unit" pInputText class="w-full border-round-lg" placeholder="Un" [(ngModel)]="unit"/>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="stock">Estoque</label><br>
        <p-inputNumber [(ngModel)]="stock" class="w-full" styleClass="w-full" inputId="stock" locale="pt-BR"> </p-inputNumber>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="price">Preço</label><br>
        <p-inputNumber class="w-full" styleClass="w-full" mode="currency" inputId="price" currency="BRL" locale="pt-BR"> </p-inputNumber>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="productFile">Thumbnail</label><br>
        <input type="file" #productFile name="productFile" pInputText class="w-full border-round-lg" placeholder="Nenhum arquivo escolhido" (change)="onFileSelected($event)"/>
      </div>
    </div>
    <div class="col-12">
      <p-button label="SALVAR" styleClass="text-white w-full bg-send" [loading]="loading" (click)="submitData()"></p-button>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>