<app-headersys></app-headersys>
<app-sys-title title={{title}}></app-sys-title>
<div class="form-sys mb-3">
  <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }" tableStyleClass="table-list">
    <ng-template pTemplate="header">
        <tr>
            <th class="tl-th">Código</th>
            <th class="tl-th">Categoria</th>
            <th class="tl-th">Status</th>
            <th class="tl-th">Ação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categories>
        <tr>
          <td class="tl-td">{{ categories.codigo }}</td>
          <td class="tl-td">{{ categories.nome }}</td>
          <td class="tl-td">{{ categories.status }}</td>
          <td class="tl-td">
            <p-button icon="pi pi-pencil" (click)="productEdit(categories.codigo)" styleClass="text-white bg-orange-400 hover:bg-orange-700 border-orange-400 hover:border-orange-700"></p-button>&nbsp;
            <p-button icon="pi pi-trash" styleClass="text-white bg-red-600 hover:bg-red-800 border-red-600 hover:border-red-800"></p-button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>