<div class="container">
  <div class="grid">
    <h1>{{form.title}}</h1>
    <div class={{input.grid}} *ngFor="let input of form.input">
      <div class="field">
        <label for="firstname1">{{input.title}}</label><br>
        <input type={{input.type}} name={{input.name}} pInputText class={{input.class}} placeholder={{input.placeholder}}/>
      </div>
    </div>
    <div class="col-12">
      <button type="button" class={{form.submit.class}}>{{form.submit.title}}</button>
    </div>
  </div>
</div>