/* You can add global styles to this file, and also import other style files */
$primary-color: #F89616;
$secundary-color: #FDE1BC;
$tertiary-color: #FEF0DD;
$quaternary-color: #9E5F0E;
$quintenary-color: #282B38;
$bg-send: #25B456;
$bg-send-hover: #469e65;

body{
  margin: 0;
  background-color: $tertiary-color;
}

a:-webkit-any-link{
  text-decoration: none;
}

::placeholder{
  color: $quintenary-color;
}

.grid {
  margin: 0;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  background-color: $primary-color;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button{
  background-color: $quaternary-color
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
  background-color: $primary-color;
}

select, input, .p-inputtext{
  background-color: white;
  border: 2px solid #E9E9E9;
  color: $quintenary-color;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.p-input-icon-right > i:last-of-type, .p-input-icon-left > i:first-of-type{
  color: $primary-color;
}

/*FORM SYS*/
.form-sys{
  padding: 30px;
  margin: 0px 30px;
  border: 3px solid $primary-color;
  border-radius: 35px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.form-sys .bg-send, .btn-send{
  background-color: $bg-send;
  padding: 10px;
  border: 3px solid $bg-send;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  cursor: pointer;
}

.form-sys .bg-send:hover, .btn-send:hover{
  background-color: $bg-send-hover !important;
  border-color: $bg-send-hover !important;
}

.form-sys .field label{
  color: $quintenary-color;
}

.form-sys .table-list .tl-th
{
  color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.form-sys .table-list .tl-td
{
  color: $quintenary-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.form-sys .table-list .tl-th,
.form-sys .table-list .tl-td
{
  background-color: white;
  border-color: $primary-color;
}