<app-headersite></app-headersite>
<div class="carousel">
  <p-carousel [value]="publicity" [numVisible]="1" [numScroll]="1" [circular]="true">
    <ng-template let-image pTemplate="item">
      <img src={{image}} alt="Slide" class="w-12">
    </ng-template>
  </p-carousel>
</div>
<div class="text-center categories">
  <h2>Principais Categorias</h2>
  <div class="grid">
    <a class="col-3 category" *ngFor="let category of categories" href="">
      <img src={{category.icon}} alt="" height="170px"><br>
      {{category.name}}
    </a>
  </div>
</div>
<app-footersite></app-footersite>